################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pharmacy Tools.slnx/FileContentIndex/0ff97114-2ec5-4953-87cf-5203bc96a804.vsidx
/.vs/Pharmacy Tools.slnx/FileContentIndex
